<body>
    <div class="container">
        <div class="main">
            <header>
                <div class="back hover">
                    <div [routerLink]="['']" class="hover">
                        <img src="../../../assets/images/back.png" alt="">
                    </div>
                </div>
                <div class="title">
                    <h1>Novo Contato</h1>
                </div>
            </header>
            <div class="all">
                <div class="center">
                    <div class="name">
                        <div>
                            <h3>Nome</h3>
                        </div>
                        <div>
                            <input class="new-input" type="text" [(ngModel)]="nickname">
                        </div>
                    </div>
                    <div class="number">
                        <div>
                            <h3>Número</h3>
                        </div>
                        <div>
                            <input class="new-input" type="number" [(ngModel)]="telephone">
                        </div>
                    </div>
                        <button (click)="addContact()">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
</body>
<app-warning></app-warning>