<body>
    <div class="container">
        <div class="main">
            <header>
                <div class="back hover">
                    <div [routerLink]="['']" class="hover">
                        <img src="../../../assets/images/back.png" alt="">
                    </div>
                </div>
                <div class="title">
                    <h1>Configurações</h1>
                </div>
            </header>
            <div class="profile">
                <div class="number"><h1>77 99999-8888</h1></div>
                <div class="image-profile">
                    <img src="https://avatars.githubusercontent.com/u/91747141?v=4" alt="">
                    <div class="edit"><h5>Editar</h5></div>
                </div>
                <div class="name-profile">
                    <div class="name">
                        <h3>Yuri Kevin</h3>
                    </div>
                    <div class="edit"><h5>Editar</h5></div>
                </div>
                <div class="status-profile">
                    <div class="status">
                        <p>Este é um status do seu perfil!</p>
                    </div>
                    <div class="edit"><h5>Editar</h5></div>
                </div>
            </div>
        </div>
    </div>
</body>
