<body>
    <div class="container">
        <div class="main">
            <header>
                <div class="back hover" [routerLink]="['']">
                        <img src="../../../assets/images/back.png" alt="Back Icon">
                </div>
                <div class="title">
                    <h1>Configurações</h1>
                </div>
            </header>
            <div class="profile">
                <div class="number">
                    <h1 *ngIf="contact">{{contact.telephone}}</h1>
                    <h1 *ngIf="userProfile">{{user.telephone}}</h1>
                </div>
                <div class="image-profile">
                    <img *ngIf="contact && contact.photo" src="{{contact.photo}}" alt="User Image">
                    <img *ngIf="contact && !contact.photo" src="../../../assets/images/user.png" alt="User Image">
                    <img *ngIf="userProfile && user.photo" src="{{user.photo}}" alt="User Image">
                    <img *ngIf="userProfile && !user.photo" src="../../../assets/images/user.png" alt="User Image">
                </div>
                <div class="name-profile">
                    <div class="name">
                        <h3 *ngIf="contact">{{contact.nickname}}</h3>
                        <h3 *ngIf="userProfile">{{user.name}}</h3>
                    </div>
                </div>
                <div class="status-profile">
                    <div class="status">
                        <p *ngIf="contact && contact.status">{{contact.status}}</p>
                        <p *ngIf="contact && !contact.status">Olá! Estou utilizando Texter!</p>
                        <p *ngIf="userProfile && user.status">{{user.status}}</p>
                        <p *ngIf="userProfile && !user.status">Olá! Estou utilizando Texter!</p>
                    </div>
                </div>
                <div class="edit-box"><div class="edit" [routerLink]="['/edit-profile']"><h5>Editar Perfil</h5></div></div>
            </div>
        </div>
    </div>
</body>
