<body>
    <div class="container">
        <div class="main">
            <header>
                <div class="shortcuts">
                <div [routerLink]="['/profile']" class="hover">
                    <img src="../../../assets/images/config.png" alt="">
                </div>
                <div [routerLink]="['/contacts']" class="hover">
                    <img src="../../../assets/images/contact.png" alt="">
                </div>
                <div [routerLink]="['/new']" class="hover">
                    <img src="../../../assets/images/new.png" alt="">
                </div>
                </div>
                <div class="chat-info hover">
                    <img class="profile-pic" src="https://avatars.githubusercontent.com/u/91747141?v=4" alt="">
                    <h1>Yuri</h1>
                </div>
            </header>
            <div class="conversations-chat">
                <div class="conversations">
                    <div class="talk hover" *ngFor="let contact of contacts">
                        <div class="image">
                            <img class="profile-pic" src="https://avatars.githubusercontent.com/u/91747141?v=4" alt="">
                        </div>
                        <div class="name-mensage">
                            <div class="name">
                                <h2>{{contact.nickname}}</h2>
                            </div>
                            <div class="mensage">
                                <h4>{{contact.status}}</h4>
                                <div class="circle green"></div>
                            </div>
                            <div class="time">
                                <h6>00:00</h6>
                                <div class="circle blue"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat">
                    <div class="messages">
                        <div class="message-width" *ngFor="let item of messageList" [ngClass]="{ 'your': item.message_user === 'your', 'friend' : item.message_user === 'friend' }">
                            <div class="chat-message">
                                <p>{{item.message}}</p>
                                <div class="time2">
                                    <h6>00:00</h6>
                                    <div class="circle green"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="keyboard">
                        <div>
                            <textarea rows="4" maxlength="500" [(ngModel)]="text" (keyup.enter)="sendMessage(44444444444)"></textarea>
                            <div class="send" (click)="sendMessage(44444444444)" >
                                <img src="../../../assets/images/send.png" alt="enviar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>