<body>
    <div class="container">
        <div class="main">
            <header>
                <div class="shortcuts">
                <div class="hover">
                    <img src="../../../assets/images/config.png" alt="">
                </div>
                <div class="hover">
                    <img src="../../../assets/images/contact.png" alt="">
                </div>
                <div class="hover">
                    <img src="../../../assets/images/new.png" alt="">
                </div>
                </div>
                <div class="chat-info hover">
                    <img class="profile-pic" src="https://avatars.githubusercontent.com/u/91747141?v=4" alt="">
                    <h1>Yuri</h1>
                </div>
            </header>
            <div class="conversations-chat">
                <div class="conversations">
                    <div class="talk hover">
                        <div class="image">
                            <img class="profile-pic" src="https://avatars.githubusercontent.com/u/91747141?v=4" alt="">
                        </div>
                        <div class="name-mensage">
                            <div class="name">
                                <h2>Yuri</h2>
                            </div>
                            <div class="mensage">
                                <h4>Hi, there is...</h4>
                                <div class="circle green"></div>
                            </div>
                            <div class="time">
                                <h6>00:00</h6>
                                <div class="circle blue"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat">
                    <div class="messages">
                        <div class="message-width friend">
                            <div class="chat-message">
                                <p>This is an people chat message ola olaaa222 saddsa</p>
                                <div class="time2">
                                    <h6>00:00</h6>
                                    <div class="circle green"></div>
                                </div>
                            </div>
                        </div>
                        <div class="message-width your">
                            <div class="chat-message ">
                                <p>This is an your chat message</p>
                                <div class="time2">
                                    <h6>00:00</h6>
                                    <div class="circle green"></div>
                                </div>
                            </div>
                        </div>
                        <div class="message-width your">
                            <div class="chat-message ">
                                <p>This is an your chat message</p>
                                <div class="time2">
                                    <h6>00:00</h6>
                                    <div class="circle green"></div>
                                </div>
                            </div>
                        </div>
                        <div class="message-width friend">
                            <div class="chat-message ">
                                <p>This is an people chat message ola olaaa222 saddsa</p>
                                <div class="time2">
                                    <h6>00:00</h6>
                                    <div class="circle green"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="keyboard">
                        <div>
                            <textarea rows="4" maxlength="500"></textarea>
                            <div class="send">
                                <img src="../../../assets/images/send.png" alt="enviar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>