<body>
    <div class="container">
        <div class="main">
            <div class="login-stripe">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="login-box">
                <div>
                    <div class="icon">
                        <img src="../../../assets/images/user.png" alt="User Icon">
                    </div>
                    <div class="login-input">
                        <input type="number" placeholder="Número" [(ngModel)]="telephone">
                    </div>
                    <div class="login-input">
                        <input type="password" placeholder="Senha" [(ngModel)]="password" (keyup.enter)="login()">
                    </div>
                    <div class="btn">
                        <button (click)="login()">Continue</button>
                    </div>
                    <div class="btn">
                        <p [routerLink]="['/signUp']">Sign Up</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<app-warning></app-warning>